*_Plist.Dir*
*.udf
.idea
*/.idea
.idea/
./update/
release
.externalNativeBuild
.externalNativeBuild/
Debug.win32/
Debug.win32
.vs
node_modules/
Project/
Project
resProjects/baseUI/.build.cfg
RunTime/src/*
RunTime/script
!**/RunTime/res/project.manifest
/RunTime/res/test.cfg
dist/
